*{
	box-sizing: border-box;
}

body {
	margin:0;
	font-family: 'Gilroy';
}
 img {
 	width: 100%;
 }

 a {
 	text-decoration: none;
 	color: inherit;
 }

 header {
 	background-color: #FAFAFA;
 	padding: 40px;
 }

 .header-wrap {
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }

 header .logo {
 	width: 140px;
 }

 .logo img {
 	width: auto;
 }

 header nav {
 	width: 330px;
 }

 .gift-finder {
 	width: 140px;
 	height: 40px;
 	border: 1px solid #F7941E;
border-radius: 5px;
color: #F7941E;
text-align: center;
line-height: 40px;
 }

 .nav {
 	padding: 0;
 	margin: 0;
 	list-style-type: none;
 	justify-content: space-between;
 	display: flex;
 }

 .feauters {
 	background-color: #F1F1F2;
 }

 .feauters-info, .feauters-work {
 	display: flex;
 	align-items: center;
 }

 .feauters-desc, .feauters-img {
 	width: 50%;
 }
 .feauters-img img {
 	display: block;
 }

 .feauters .content {
 	width: 430px;
 	margin: auto;
 }

 .feauters-title {
 	font-size: 55px;
 }

.feauters-subtitle {
	font-size: 32px;
	font-weight: 400;
}

 .feauters-desc p {
 	font-size: 20px;
 	margin-top: 23px;
 	margin-bottom: 35px;
 }

.feauters .find-gift-button {
width: 200px;
height: 60px;
line-height: 60px;
text-align: center;
background-color: #F7941E;
border-radius: 5px;
color: #FFFFFF;
}

.feauters .learn-more-button {
width: 200px;
height: 60px;
line-height: 60px;
text-align: center;
border-radius: 5px;
color: #F7941E;
border: 1px solid  #F7941E;
text-transform: uppercase;
}

.wrap {
	width: 1170px;
	margin: auto;
	padding: 90px 0;
}

.title {
	font-size: 32px;
	font-weight: 400;
}

.subtitle {
	font-size: 18px;
	font-weight: 300;
}

.occasions .title, .occasions .subtitle, .blogs .title, .blogs h5 {
	text-align: center;
}
.occasions-cards {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}
.occasion-card-item {
	width: 270px;
	background-color: #FAFAFA;
	transition: .3s;
}

.card-img {
	width: 270px;
	height: 270px;
}

.occasion-card-item:hover {
	background-color: FFFFFF;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.card-desc {
	padding: 24px;
}

.occasions-cards .see-more {
	margin-top: 75px;
	font-size: 14px;
}
.cta {
	background-color: #F7941E;
}

.cta .wrap {
	padding: 80px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cta-info h3, .cta-info p {
	font-size: 32px;
	margin:0;
}

.cta-action {
	width: 415px;
}

.cta-buttons{
	display: flex;
	justify-content: space-between;
}

.cta-buttons div {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
}

.button-primary {
	background-color: #231F20;
	color: #FFFFFF;
}

.button-secondary {
	border: 1px solid #231F20;
}

.blog-card {
	background-color: #231F20;
	display: flex;
	margin-top: 60px;
	align-items: center;
}

.blog-card-img {
	width: 400px;
}

.blog-card-img img {
	display: block;
}

.blog-card-info {
	width: 500px;
	margin: 0 80px;
}

.blog-card h3 {
	font-size: 48px;
	color: #FFFFFF;
	font-weight: 400;
}

.blog-card .author {
	font-size: 14px;
	color: #FFFFFF;
}

.blog-card .read-more {
color: #FFFFFF;
}

.blog-subcard {
	width: 570px;
	padding: 50px;
	transition:.3s;
}

.blog-subcard:hover {
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.blog-subcards {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}

.blog-subcard h4 {
	font-size: 18px;
}

.blog-subcard .read-more {
	font-size: 14px;
}

footer{
	background-color: #FAFAFA;
	padding: 115px 0 35px;
}

footer nav {
	width:600px;
	margin: auto;
}

.footer-nav {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin:0;
	padding: 0;
}

.footer-nav li {
	font-weight: 700;
	font-size: 14px;
	padding: 0 25px;
}

.footer-nav li:first-child {
padding-left: 0;
}

.footer-nav li:last-child {
	padding-right: 0;
}

.footer-logo {
	padding: 0 115px!important;
}

.footer-logo img {
	width:auto;
}

.line {
	width: 1000px;
	margin: 55px auto;
	border: 1px solid ;
	background-color:#000 ; 
}

footer .social {
	width: 300px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

footer .copyright {
	font-size: 14px;
	text-align: center;
	margin-top: 70px;
}